<!DOCTYPE html>
<html>
<head>
    <title>Light Blue - Admin Template</title>
    <link href="css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <!-- user css -->
    <link href="script/index.css" rel="stylesheet">
    <link href="script/style.css" rel="stylesheet">
</head>
<body class="background-dark">
<div class="logo">
    <h4><a href="index.html">Light <strong>Blue</strong></a></h4>
</div>
<!--  
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li >
            <a href="index.html"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapse"><i class="fa fa-edit"></i> <span class="name">Forms</span></a>
            <ul id="forms-collapse" class="panel-collapse collapse">
                <li><a href="form_account.html">Account</a></li>
                <li><a href="form_article.html">Article</a></li>
                <li><a href="form_elements.html">Elements</a></li>
                <li><a href="form_validation.html">Validation</a></li>
                <li><a href="form_wizard.html">Wizard</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-bar-chart-o"></i> <span class="name">Statistics</span></a>
            <ul id="stats-collapse" class="panel-collapse collapse">
                <li><a href="stat_statistics.html">Stats</a></li>
                <li><a href="stat_charts.html">Charts</a></li>
                <li><a href="stat_realtime.html">Realtime</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#ui-collapse"><i class="fa fa-magic"></i> <span class="name">User Interface</span></a>
            <ul id="ui-collapse" class="panel-collapse collapse">
                <li><a href="ui_buttons.html">Buttons</a></li>
                <li><a href="ui_dialogs.html">Dialogs</a></li>
                <li><a href="ui_icons.html">Icons</a></li>
                <li><a href="ui_tabs.html">Tabs</a></li>
                <li><a href="ui_accordion.html">Accordion</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#components-collapse"><i class="fa fa-bookmark-o"></i> <span class="name">Components</span></a>
            <ul id="components-collapse" class="panel-collapse collapse">
                <li><a href="component_calendar.html">Calendar</a></li>
                <li><a href="component_maps.html">Maps</a></li>
                <li><a href="component_gallery.html">Gallery</a></li>
                <li><a href="component_fileupload.html">Fileupload</a></li>
                <li><a href="component_bootstrap.html">Bootstrap &nbsp; <span class="label label-important">new</span></a></li>
                <li><a href="component_list_groups.html">List Groups &nbsp; <span class="label label-important">new</span></a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#tables-collapse"><i class="fa fa-table"></i> <span class="name">Tables</span></a>
            <ul id="tables-collapse" class="panel-collapse collapse">
                <li><a href="tables_static.html">Static</a></li>
                <li><a href="tables_dynamic.html">Dynamic</a></li>
            </ul>
        </li>
        <li class="panel active">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#side-nav" href="#grid-collapse"><i class="fa fa-bars"></i> <span class="name">Grid</span></a>
            <ul id="grid-collapse" class="panel-collapse in">
                <li class="active"><a href="grid.html">Basic</a></li>
                <li><a href="grid_live.html">Live &nbsp; <span class="label label-important">new</span></a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#special-collapse"><i class="fa fa-asterisk"></i> <span class="name">Special</span></a>
            <ul id="special-collapse" class="panel-collapse collapse">
                <li><a href="special_search.html">Search</a></li>
                <li><a href="special_invoice.html">Invoice</a></li>
                <li><a href="special_inbox.html">Inbox <span class="label label-important">3</span></a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="special_404.html">404</a></li>
                <li><a href="landing.html">Landing</a></li>
                <li><a href="white/index.html">White <i class="fa fa-external-link-square"></i></a></li>
            </ul>
        </li>
        <li class="visible-xs">
            <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">Auto</button>
    </div>
</nav>

-->
<div class="wrap fullwrap">
    <header class="page-header">
        <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" title="Messages" id="messages"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="fa fa-comments"></i>
                        </a>
                        <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="img/1.jpg" alt="">
                                    <div class="details">
                                        <div class="sender">Jane Hew</div>
                                        <div class="text">
                                            Hey, John! How is it going? ...
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="img/2.jpg" alt="">
                                    <div class="details">
                                        <div class="sender">Alies Rumiancaŭ</div>
                                        <div class="text">
                                            I'll definitely buy this template
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="img/3.jpg" alt="">
                                    <div class="details">
                                        <div class="sender">Michał Rumiancaŭ</div>
                                        <div class="text">
                                            Is it really Lore ipsum? Lore ...
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-align-center see-all">
                                    See all messages <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" title="8 support tickets"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="fa fa-group"></i>
                            <span class="count">8</span>
                        </a>
                        <ul id="support-menu" class="dropdown-menu support" role="menu">
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-important"><i class="fa fa-bell-o"></i></span>
                                    </div>
                                    <div class="details">
                                        Check out this awesome ticket
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
                                    </div>
                                    <div class="details">
                                        "What is the best way to get ...
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-success"><i class="fa fa-tag"></i></span>
                                    </div>
                                    <div class="details">
                                        This is just a simple notification
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-info"><i class="fa fa-info-circle"></i></span>
                                    </div>
                                    <div class="details">
                                        12 new orders has arrived today
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-important"><i class="fa fa-plus"></i></span>
                                    </div>
                                    <div class="details">
                                        One more thing that just happened
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-align-center see-all">
                                    See all tickets <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="hidden-xs">
                        <a href="#" id="settings"
                           title="Settings"
                           data-toggle="popover"
                           data-placement="bottom">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li class="hidden-xs dropdown">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul id="account-menu" class="dropdown-menu account" role="menu">
                            <li role="presentation" class="account-picture">
                                <img src="img/2.jpg" alt="">
                                Philip Daineka
                            </li>
                            <li role="presentation">
                                <a href="form_account.html" class="link">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="component_calendar.html" class="link">
                                    <i class="fa fa-calendar"></i>
                                    Calendar
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="link">
                                    <i class="fa fa-inbox"></i>
                                    Inbox
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li>
                </ul>
                <form id="search-form" class="navbar-form pull-right" role="search">
                    <input type="search" class="search-query" placeholder="Search...">
                </form>
        </div>
    </header>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Preview image</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-left"></i>
                        Input Sizing
                        <small>From <code>.col-*-1</code> to <code>.col-*-12</code></small>
                    </h4>
                </header>
                <div class="body">
                    <form method="post">
                        <fieldset>
                            <div class="row"><div class="col-sm-6">
                                <div class="form-group">
                                    <label><code>.col-sm-6</code></label>

                                    <input type="text" class="form-control">

                                </div>
                            </div></div>
                            <div class="row"><div class="col-sm-4">
                                <div class="form-group">
                                    <label><code>.col-sm-4</code></label>

                                    <input type="text" class="form-control">

                                </div>
                            </div></div>
                            <div class="row"><div class="col-sm-2">
                                <div class="form-group">
                                    <label><code>.col-sm-2</code></label>

                                    <input type="text" class="form-control">

                                </div>
                            </div></div>

                            <div class="row"><div class="col-sm-12">
                                <div class="form-group">
                                    <label><code>.col-sm-12</code></label>

                                    <input type="text" class="form-control">

                                </div>
                            </div></div>
                            <div class="row"><div class="col-sm-11">
                                <div class="form-group">
                                    <label><code>.col-sm-11</code></label>

                                    <input type="text" class="form-control">

                                </div>
                            </div></div>

                            <div class="row"><div class="col-sm-9">
                                <div class="form-group">
                                    <label><code>.col-sm-9</code></label>

                                    <input type="text" class="form-control">

                                </div>
                            </div></div>
                            <div class="row"><div class="col-sm-7">
                                <div class="form-group">
                                    <label><code>.col-sm-7</code></label>

                                    <input type="text" class="form-control">

                                </div>
                            </div></div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left btn-sm"> <i class="fa fa-angle-left"></i> Previous</button>
                <button class="btn btn-danger btn-sm">&nbsp; Next <i class="fa fa-angle-right"></i>  &nbsp; </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
    <div class="content container">
        <!-- >div class="row">
            <div class="col-md-12">
                <h2 class="page-title">비로그인 <small>Fully responsive layout</small></h2>
                <p id="testp"></p>
            </div>
        </div -->
        
        <!-- row for my service list -->
        <div class="row">
        	<div class="col-sm-12 col-md-12 col-xs-12 col-md-offset-0">
        		
            		<h4>
                    	<i class="fa fa-check"></i>
                        	내가 등록한 서비스 
                    </h4>
                
        	</div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="sblock0">
                <div class="box myservice" id="service_0">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>부동산</strong> 
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="sblock1">
                <div class="box myservice" id="service_1">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>청소</strong>
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="sblock2">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>세차</strong>  
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="sblock3">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>세탁</strong>
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="sblock4">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>대리운전</strong> 
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="sblock5">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>역할대행</strong>
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end row for 서비스 대분류 카테고리 -->
        
        
        <!-- row for 서비스 이용방법 STEP 123 -->
 		<div class="row">
            <div class="col-md-12 col-md-offset-0">
            	<div class="col-md-12 col-md-offset-0 box backdiv ib">
            		<header>
            			<h4>
                            <i class="fa fa-check"></i>
                            서비스 이용방법
                        </h4>
                    </header>
            		<div class="col-md-4 col-sm-4 col-xs-4 thumbnail_wrap ib">
	            		<div class="col-md-12 col-md-offset-0 thumbnail text-center">
		                    <span class="label label-primary">STEP 1</span>
                            <p><strong>대분류 선택</strong> 원하시는 카테고리를 선택한 후 상세내용을 등록해 주세요. </p>
		                </div>
            		</div>
            		<div class="col-md-4 col-sm-4 col-xs-4 thumbnail_wrap ib">
	            		<div class="col-md-12 col-md-offset-0 thumbnail text-center">
		                    <span class="label label-warning">STEP 2</span>
                            <p><strong>입찰 선택/결제</strong> 등록하신 서비스에 대한 입찰건들 중 하나를 선택하고 결제하세요. </p>
		                </div>
            		</div>
            		<div class="col-md-4 col-sm-4 col-xs-4 thumbnail_wrap ib">
	            		<div class="col-md-12 col-md-offset-0 thumbnail text-center">
		                	<span class="label label-success">STEP 3</span>
                            <p><strong>서비스 받기</strong> 고객님이 원하시는 서비스를 최저가에 즐겨 보세요. </p>
		                </div>
            		</div>
            	</div>
            	
            </div>
        </div>
        <!-- end row for 서비스 이용방법 STEP 123 -->

        
        
        <!-- row for 서비스 대분류 카테고리 -->
        <div class="row">
        	<div class="col-sm-12 col-md-12 col-xs-12 col-md-offset-0">
        		
            		<h4>
                    	<i class="fa fa-check"></i>
                        	서비스 카테고리
                    </h4>
                
        	</div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="cblock0">
                <div class="box cat0" id="cat0_0">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>부동산</strong> 
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="cblock1">
                <div class="box cat0" id="cat0_1">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>청소</strong>
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="cblock2">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>세차</strong>  
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="cblock3">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>세탁</strong>
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="cblock4">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>대리운전</strong> 
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6" id="cblock5">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                        <span class="count mycount">8</span>
                    </div>
                    <div class="description">
                        <strong>역할대행</strong>
                    </div>
                    <div class="description">
                        최저의 수수료로 내게 딱 맞는 집을 찾아 보세요. 
                    </div>
                </div>
            </div>
            
        </div>
        <!-- end row for 서비스 대분류 카테고리 -->

    </div>
</div>




<!-- form ex -->
<div class="col-md-12 col-sm-12 col-xs-12 divSform" id="divSform_cat0_0" style="display:none;">form0 div</div>
<div class="col-md-12 col-sm-12 col-xs-12 divSform" id="divSform_cat0_1" style="display:none;">form1 div</div>
<div class="col-md-12 col-sm-12 col-xs-12 divSform" id="divSform_cat0_2" style="display:none;">form2 div</div>
<!-- service view and bid list -->
<div class="col-md-12 col-sm-12 col-xs-12 divSinfo" id="divSinfo_service_0" style="display:none;">
	<section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-tasks"></i>
                            등록된 서비스 내용 
                        </h5>
                    </header>
                    <div class="body">
                        <div class="panel-group" id="accordion2">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        20,000원 
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse" style="height: auto;">
                                    <div class="panel-body">
                                    입찰자: 홍길동 <br/>
                                    업체명: 우리부동산 (평점 5.4 / 후기 11건) 
                                    <a href="#modalCompany" data-toggle="modal" class="showCompany"><span class="label label-warning">상세정보</span></a><br/>
                                    업체소개: 우리부동산은 15년 전통을 자랑하는 신뢰의 부동산입니다.<br/>
                                    메모: 최고의 서비스를 제공하겠습니다.<br/>
                                    평점: 별 다섯.<br/>
                                    고객후기: 리스트<br/>
                                    <button type="button" class="btn btn-danger pull-right" data-placement="top" data-original-title=".btn .btn-danger">결제하기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        25,000원
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                                        26,000원
                                    </a>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 divSinfo" id="divSinfo_service_1" style="display:none;">service info1 div</div>
<div class="col-md-12 col-sm-12 col-xs-12 divSinfo" id="divSinfo_service_2" style="display:none;">service info2 div</div>

<!-- modal -->
<div class="modal fade" id="modalCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Preview image</h4>
            </div>
            <div class="modal-body" id="modalBody">
                <img src="img/5.jpg" alt="">
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left btn-sm"> <i class="fa fa-angle-left"></i> Previous</button>
                <button class="btn btn-danger btn-sm">&nbsp; Next <i class="fa fa-angle-right"></i>  &nbsp; </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<!-- jquery and friends -->
<script src="lib/jquery/jquery-2.0.3.min.js"> </script>


<!-- jquery plugins -->
<script src="lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="lib/parsley/parsley.js"> </script>
<script src="lib/icheck.js/jquery.icheck.js"></script>
<script src="lib/select2.js"></script>

<!--backbone and friends -->
<script src="lib/backbone/underscore-min.js"></script>

<!-- bootstrap default plugins -->
<script src="lib/bootstrap/transition.js"></script>
<script src="lib/bootstrap/collapse.js"></script>
<script src="lib/bootstrap/alert.js"></script>
<script src="lib/bootstrap/tooltip.js"></script>
<script src="lib/bootstrap/popover.js"></script>
<script src="lib/bootstrap/button.js"></script>
<script src="lib/bootstrap/dropdown.js"></script>
<script src="lib/bootstrap/modal.js"></script>
<script src="lib/bootstrap/tab.js"> </script>

<!-- basic application js-->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<!-- user js-->
<script type="text/javascript" src="script/index.js"></script>


<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
            <button type="button"
                    data-value="icons"
                    class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
        <%} else {%>
            <button type="button"
                    data-value="auto"
                    class="btn btn-transparent btn-sm">Auto</button>
        <% } %>
</script>



</body>